body{
    font-family: 'Roboto', sans-serif;
}
#root{
    display: flex;
    flex-direction: column;
}
h1{
    padding: 10px;
    color:white;
    font-size:  25px;
}
label{
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
}
span{
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
}
.header{
    background-color: #395cbf;
    margin-bottom: 10px;
    padding: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}
.block{
    margin:10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 3px #c3bcbc;
}
.field{
    display: flex;
    flex-wrap: wrap;
}
.error{
    background-color: #f1d0d6;
    padding: 10px;
    color:#a90b2e;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    h1 {
      font-size: 13px;
      text-align: center;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    h1 {
        font-size:  18px;
    }
  }